/* SASS Vartables */

$usersid: 530043492014096384, 824169426236342284, 780073888742375435;

/* Repair */
@each $user in $usersid {
	.root-3QyAh1 {
		&[data-user-id="#{$user}"] .connectedAccount-2Jb-Z0 {
			background-color: #00000059;
		}
	}
}

.root-3QyAh1 {
	span.username-2b1r56::after {
		position: absolute;
		right: 15px;
		top: 10px !important;
		box-shadow: 14px 16px 20px 4px black;
	}
	.body-r6_QPy {
		position: relative;
		&::before {
			content: "";
			position: absolute;
			top: 0px;
			right: 0px;
			bottom: 0px;
			left: 0px;
			opacity: 0.75;
		}
	}
}
.userPopout-xaxa6l {
	.headerTop-2cWpdB {
		background-color: unset;
		background-position: center;
		background-size: cover;
	}
}
/* Endİf */

/* G̷a̷m̷e̷r̷b̷o̷y̷T̷R̷ ᶫᵒᵛᵉᵧₒᵤ#1881 */

.root-3QyAh1[data-user-id="530043492014096384"] .header-QKLPzZ {
	background: linear-gradient(45deg, #ffe212a8, #ffdfdf00) !important;
	background-color: linear-gradient(45deg, #ffe212a8, #ffdfdf00) !important;
}
html {
	&[lang="tr"] .root-3QyAh1[data-user-id="530043492014096384"] span.username-2b1r56::after {
		content: "Tema Kurucusu";
		color: yellow;
	}
	&[lang="en-US"] .root-3QyAh1[data-user-id="530043492014096384"] span.username-2b1r56::after {
		content: "Theme Owner";
		color: yellow;
	}
}
.root-3QyAh1[data-user-id="530043492014096384"] .body-r6_QPy::before,
.userPopout-xaxa6l[data-user-id="530043492014096384"] .headerTop-2cWpdB {
	background-image: url(https://i.imgur.com/CAsvn0q.gif) !important;
}

/* 𝙻𝚢𝚝𝚜𝚜#0032 */

.root-3QyAh1[data-user-id="824169426236342284"] .header-QKLPzZ {
	background: linear-gradient(45deg, #1265ffa8, #ffdfdf00) !important;
	background-color: linear-gradient(45deg, #1265ffa8, #ffdfdf00) !important;
}
html {
	&[lang="tr"] .root-3QyAh1[data-user-id="824169426236342284"] span.username-2b1r56::after {
		content: "Tema Testçisi";
		color: #1265ffa8;
	}

	&[lang="en-US"] .root-3QyAh1[data-user-id="824169426236342284"] span.username-2b1r56::after {
		content: "Theme Tester";
		color: #1265ffa8;
	}
}
.root-3QyAh1[data-user-id="824169426236342284"] .body-r6_QPy::before,
.userPopout-xaxa6l[data-user-id="824169426236342284"] .headerTop-2cWpdB {
	background-image: url(https://i.imgur.com/BGyfYiv.gif) !important;
}

/* 爪卂乃乇ㄥ#5770 */

.root-3QyAh1[data-user-id="780073888742375435"] .header-QKLPzZ {
	background: linear-gradient(45deg, #006b00, #ffdfdf00) !important;
	background-color: linear-gradient(45deg, #006b00, #ffdfdf00) !important;
}
html {
	&[lang="tr"] .root-3QyAh1[data-user-id="780073888742375435"] span.username-2b1r56::after {
		content: "Değerli Üye";
		color: #006b00;
	}

	&[lang="en-US"] .root-3QyAh1[data-user-id="780073888742375435"] span.username-2b1r56::after {
		content: "Dear Member";
		color: #006b00;
	}
}
.root-3QyAh1[data-user-id="780073888742375435"] .body-r6_QPy::before,
.userPopout-xaxa6l[data-user-id="780073888742375435"] .headerTop-2cWpdB {
	background-image: url(https://i.imgur.com/siZ4kpF.gif) !important;
}
