/* G̷a̷m̷e̷r̷b̷o̷y̷T̷R̷ ᶫᵒᵛᵉᵧₒᵤ#1299 */
.root-SR8cQa[data-user-id="546019971910598658"] .header-QKLPzZ {
	background: linear-gradient(45deg, #ffe212a8, #ffdfdf00) !important;
	background-color: linear-gradient(45deg, #ffe212a8, #ffdfdf00) !important;
}
html[lang="tr"] .root-SR8cQa[data-user-id="546019971910598658"] span.username-2b1r56::after {
	content: "Tema Kurucusu";
	position: absolute;
	padding-left: 9em;
	top: 20px;
}
html[lang="en-US"] .root-SR8cQa[data-user-id="546019971910598658"] span.username-2b1r56::after {
	content: "Theme Owner";
	position: absolute;
	padding-left: 9em;
	top: 20px;
}
.root-SR8cQa[data-user-id="546019971910598658"] .body-3ND3kc::before {
	content: "";
	background-image: url(https://i.imgur.com/CAsvn0q.gif) !important;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	opacity: 0.75;
}
.root-SR8cQa[data-user-id="546019971910598658"] .body-3ND3kc {
	position: relative;
}
.userPopout-3XzG_A[data-user-id="546019971910598658"] .headerNormal-T_seeN {
	background-image: url(https://i.imgur.com/CAsvn0q.gif) !important;
	background-color: unset;
	background-position: center;
	background-size: cover;
}

/* 𝙇𝙮𝙩𝙨𝙨#5135 */
.root-SR8cQa[data-user-id="824169426236342284"] .header-QKLPzZ {
	background: linear-gradient(45deg, #1265ffa8, #ffdfdf00) !important;
	background-color: linear-gradient(45deg, #1265ffa8, #ffdfdf00) !important;
}
html[lang="tr"] .root-SR8cQa[data-user-id="824169426236342284"] span.username-2b1r56::after {
	content: "Tema Testçisi";
	position: absolute;
	padding-left: 16em;
	top: 23px;
}
html[lang="en-US"] .root-SR8cQa[data-user-id="824169426236342284"] span.username-2b1r56::after {
	content: "Theme Tester";
	position: absolute;
	padding-left: 16em;
	top: 23px !important;
}
.root-SR8cQa[data-user-id="824169426236342284"] .body-3ND3kc::before {
	content: "";
	background-image: url(https://i.imgur.com/BGyfYiv.gif) !important;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	opacity: 0.75;
}
.root-SR8cQa[data-user-id="824169426236342284"] .body-3ND3kc {
	position: relative;
}
.userPopout-3XzG_A[data-user-id="824169426236342284"] .headerNormal-T_seeN {
	background-image: url(https://i.imgur.com/BGyfYiv.gif) !important;
	background-color: unset;
	background-position: center;
	background-size: cover;
}
/* 爪卂乃乇ㄥ#5770 */
.root-SR8cQa[data-user-id="780073888742375435"] .header-QKLPzZ {
	background: linear-gradient(45deg, rgb(0, 107, 0), #ffdfdf00) !important;
	background-color: linear-gradient(45deg, rgb(0, 107, 0), #ffdfdf00) !important;
}
html[lang="tr"] .root-SR8cQa[data-user-id="780073888742375435"] span.username-2b1r56::after {
	content: "Değerli Üye";
	position: absolute;
	padding-left: 15em;
	top: 20px;
}
html[lang="en-US"] .root-SR8cQa[data-user-id="780073888742375435"] span.username-2b1r56::after {
	content: "Dear Member";
	position: absolute;
	padding-left: 15em;
	top: 20px;
}
.root-SR8cQa[data-user-id="780073888742375435"] .body-3ND3kc::before {
	content: "";
	background-image: url(https://i.imgur.com/siZ4kpF.gif) !important;
	position: absolute;
	top: 0px;
	right: 0px;
	background-size: cover;
	bottom: 0px;
	left: 0px;
	opacity: 0.75;
}
.root-SR8cQa[data-user-id="780073888742375435"] .body-3ND3kc {
	position: relative;
}
.userPopout-3XzG_A[data-user-id="780073888742375435"] .headerNormal-T_seeN {
	background-image: url(https://i.imgur.com/siZ4kpF.gif) !important;
	background-color: unset;
	background-position: center;
	background-size: cover;
}
/* ✰ 几乇千|几ᵃᵖˡᵃ✰#2783 */
.root-SR8cQa[data-user-id="795617566193090621"] .header-QKLPzZ {
	background: linear-gradient(45deg, rgb(0, 107, 0), #ffdfdf00) !important;
	background-color: linear-gradient(45deg, rgb(0, 107, 0), #ffdfdf00) !important;
}
html[lang="tr"] .root-SR8cQa[data-user-id="795617566193090621"] span.username-2b1r56::after {
	content: "Değerli Üye";
	position: absolute;
	padding-left: 12em;
	top: 20px;
}
html[lang="en-US"] .root-SR8cQa[data-user-id="795617566193090621"] span.username-2b1r56::after {
	content: "Dear Member";
	position: absolute;
	padding-left: 12em;
	top: 20px;
}
.root-SR8cQa[data-user-id="795617566193090621"] .body-3ND3kc::before {
	content: "";
	background-image: url(https://i.imgur.com/siZ4kpF.gif) !important;
	position: absolute;
	top: 0px;
	right: 0px;
	background-size: cover;
	bottom: 0px;
	left: 0px;
	opacity: 0.75;
}
.root-SR8cQa[data-user-id="795617566193090621"] .body-3ND3kc {
	position: relative;
}
.userPopout-3XzG_A[data-user-id="795617566193090621"] .headerNormal-T_seeN {
	background-image: url(https://i.imgur.com/siZ4kpF.gif) !important;
	background-color: unset;
	background-position: center;
	background-size: cover;
}
