.root-3QyAh1 .activityProfile-2bJRaP .spotifyIcon-2J9kSv {
	display: none !important;
}
.root-3QyAh1 .connectedAccount-2Jb-Z0 {
	.connectedAccountIcon-3_EQqg {
		padding: 5px;
		border-radius: 4px;
	}
	.connectedAccountName-E1KzaT {
		margin-left: 13px;
	}
}
.root-3QyAh1 {
	.accountBtnInner-sj5jLs {
		//? Battle Net
		&[aria-label="Battle.net"],
		&[aria-label="Battle.net"]:hover {
			background-color: #1da0f248;
		}
		//? Twicth
		&[aria-label="Twitch"],
		&[aria-label="Twitch"]:hover {
			background-color: #601bd852;
		}
		//? Youtube
		&[aria-label="YouTube"],
		&[aria-label="YouTube"]:hover {
			background-color: #d9252b49;
		}
		//? Twitter
		&[aria-label="Twitter"],
		&[aria-label="Twitter"]:hover {
			background-color: #0098e446;
		}
		//? Steam
		&[aria-label="Steam"],
		&[aria-label="Steam"]:hover {
			background-color: #00000034;
		}
		//? Reddit
		&[aria-label="Reddit"],
		&[aria-label="Reddit"]:hover {
			background-color: #fe44013d;
		}
		//? Facebook
		&[aria-label="Facebook"],
		&[aria-label="Facebook"]:hover {
			background-color: #2e328485;
		}
		//? Spotify
		&[aria-label="Spotify"],
		&[aria-label="Spotify"]:hover {
			background-color: #1ed75f34;
		}
		//? Xbox
		&[aria-label="Xbox Live"],
		&[aria-label="Xbox Live"]:hover {
			background-color: #5dc21e42;
		}
		//? League Of Legends
		&[aria-label="League Of Legends"],
		&[aria-label="League Of Legends"]:hover {
			background-color: #cea14638;
		}
		//? Github
		&[aria-label="GitHub"],
		&[aria-label="GitHub"]:hover {
			background-color: #24292e62;
		}
	}
	//? Battle Net
	[src="/assets/4662875160dc4c56954003ebda995414.png"] {
		background-color: #1da0f248;
	}
	//? Twicth
	[src="/assets/edbbf6107b2cd4334d582b26e1ac786d.png"] {
		background-color: #601bd852;
	}
	//? YouTube
	[src="/assets/449cca50c1452b4ace3cbe9bc5ae0fd6.png"] {
		background-color: #d9252b49;
	}
	//? Twitter
	[src="/assets/8c289d499232cd8e9582b4a5639d9d1d.png"] {
		background-color: #0098e446;
	}
	//? Steam
	[src="/assets/f09c1c70a67ceaaeb455d163f3f9cbb8.png"] {
		background-color: #00000034;
	}
	//? Reddit
	[src="/assets/3abe9ce5a00cc24bd8aae04bf5968f4c.png"] {
		background-color: #fe44013d;
	}
	//? Facebook
	[src="/assets/8d8f815f3d81a33b1e70ec7c22e1b6fe.png"] {
		background-color: #2e328485;
	}
	//? Spotify
	[src="/assets/f0655521c19c08c4ea4e508044ec7d8c.png"] {
		background-color: #1ed75f34;
	}
	//? Xbox
	[src="/assets/0d44ba28e39303de3832db580a252456.png"] {
		background-color: #5dc21e42;
	}
	//? League Of Legends
	[src="/assets/806953fe1cc616477175cbcdf90d5cd3.png"] {
		background-color: #cea14638;
	}
	//? Github
	[src="/assets/5d69e29f0d71aaa04ed9725100199b4e.png"] {
		background-color: #24292e62;
	}
}
