:root {
    --unit: 1px;
    --interactive-normal: #b9bbbe;
}

body {
    background: #36393f;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

div.sidebar {
    position: absolute;
    left: 0vh;
    top: 0vh;
    width: 67vh;
    height: 100vh;
    flex: 1 0 auto;
    flex-direction: column;
    background: #2f3136;
}

.sidebar-item {
    display: flex;
    align-items: center;
    position: relative;
    border-radius: calc(3 * var(--unit));
    color: var(--interactive-normal);
    padding-top: calc(6 * var(--unit));
    padding-bottom: calc(6 * var(--unit));
    margin-bottom: calc(2 * var(--unit));
    font-size: calc(16 * var(--unit));
    line-height: calc(20 * var(--unit));
    cursor: pointer;
}

.sidebar-item[data-theme] {
    position: absolute;
    font-size: 3vh;
    top: 23vh;
    left: 5vh;
    font-weight: 400;
}