  /**
 * @name Hacker-Theme
 * @description Hacker Theme
 * @author GamerboyTR
 * @version 1.0
 * @authorId 546019971910598658
 * @invite bvFw4YBEAE
 * @website http://gamerboytr.rf.gd
 * @source https://gamerboytr.github.io/downloader/Hacker-Theme.css
 */

@import url("https://codedotspectra.github.io/themes/themes-cores/neutron8.css");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans');
@import url("https://monstrousdev.github.io/themes/addons/user-tags.css");
@import url("https://codedotspectra.github.io/themes/core/badges.css");
@import url('https://mwittrien.github.io/BetterDiscordAddons/Themes/ServerColumns/ServerColumns.css');
@import url('https://gibbu.github.io/BetterDiscord-Themes/RadialStatus/base.css');
@import url('https://gamerboytr.github.io/bettericons.css');
@import url('https://nyri4.github.io/Discolored/main.css');
@import url('https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/EmojiReplace.theme.css');

:root {
--themeColor1: #5fa805;
--themeColor2: #0d7f05;
--customFont: 'Open Sans', sans-serif;
--homeImage: url('https://i.pinimg.com/originals/13/8d/52/138d52a8f429510e2c16bd67990dae3c.jpg');
--backgroundColor: #04670f;
--backgroundImage: url('https://i.pinimg.com/originals/62/c9/3a/62c93a4cf6462f54fdea6d735d927f9c.gif');
--backgroundBlur: 5px;
--backgroundOpacity: 0.6;
--rs-small-spacing: 2px;
--rs-large-spacing: 3px;
--rs-width: 2px;
--rs-avatar-shape: 50%;
--rs-online-color: #04761b;
--rs-idle-color: #faa61a;
--rs-dnd-color: #f04747;
--rs-streaming-color: #643da7;
--rs-offline-color: #636b75;
--rs-invisible-color: #4e535a;
--columns: 1;
--guildsize: 40;
--guildgap: 3;
--aligndms: 0;
}
