#app-mount.appMount-3lHmkl > .app-1q1i1E > .app-2rEoOp::before {
	display: block !important;
	background-color: #4a90e2 !important;
	box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.3) !important;
	color: var(--header-primary) !important;
	flex-grow: 0 !important;
	flex-shrink: 0 !important;
	font-size: 14px !important;
	font-weight: 500 !important;
	height: 36px !important;
	line-height: 36px !important;
	opacity: 1 !important;
	padding-left: 4px !important;
	padding-right: 28px !important;
	position: relative !important;
	text-align: center !important;
	white-space: pre !important;
	top: 0 !important;
	left: 0 !important;
	z-index: 101 !important;
	content: "Gamer-Theme'in İsmi Değişmiş Durumda Yeni Temayı İndirmek İçin https://gamerboytr.github.io/BetterDiscordAddons/downloader/?theme=GamerTheme";
}
