/* SASS */

$usersid: 530043492014096384, 824169426236342284, 780073888742375435;

@mixin addUser($userid, $usercolor, $usertext, $usertextTR, $bg) {
	html {
		&[lang="tr"] .root-3QyAh1[data-user-id="#{$userid}"] .banner-2QYc2d::after {
			content: $usertextTR !important;
		}
		.root-3QyAh1[data-user-id="#{$userid}"] {
			header {
				background: linear-gradient(45deg, $usercolor, #ffdfdf00) !important;
			}
			.banner-2QYc2d::after {
				content: $usertext;
				--userColor: $usercolor;
			}
			.body-r6_QPy::before {
				background-image: $bg !important;
			}
		}
		.userPopout-xaxa5l[data-user-id="#{$userid}"] .headerTop-2cWpdB {
			background-image: $bg !important;
		}
	}
}

/* Repair */
@each $user in $usersid {
	.root-3QyAh1 {
		&[data-user-id="#{$user}"] .connectedAccount-2Jb-Z0,
		&[data-user-id="#{$user}"] .input-cIJ7To {
			background-color: #00000054 !important;
		}
	}
}

.root-3QyAh1 {
	.banner-2QYc2d::after {
		position: absolute;
		right: 15px;
		top: 10px !important;
		box-shadow: 20px 20px 20px 0px black;
		color: var(--userColor);
		font-size: 1.4rem;
		font-weight: 500;
		text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px var(--userColor), 0 0 82px var(--userColor), 0 0 92px var(--userColor), 0 0 102px var(--userColor), 0 0 151px var(--userColor);
	}
	.body-r6_QPy {
		position: relative;
		&::before {
			content: "";
			background-color: unset;
			background-position: center;
			background-size: cover;
			position: absolute;
			top: 0px;
			right: 0px;
			bottom: 0px;
			left: 0px;
			opacity: 0.75;
		}
	}
}
.userPopout-xaxa5l {
	.headerTop-2cWpdB {
		background-color: unset;
		background-position: center;
		background-size: cover;
	}
}
/* Endİf */

/* G̷a̷m̷e̷r̷b̷o̷y̷T̷R̷ ᶫᵒᵛᵉᵧₒᵤ#1881 */

@include addUser(530043492014096384,yellow,"Theme Owner", "Tema Kurucusu", url(https://i.imgur.com/CAsvn0q.gif));

/* 𝙻𝚢𝚝𝚜𝚜#0032 */

@include addUser(824169426236342284,#1265ffa8,"Theme Tester", "Tema Testçisi", url(https://i.imgur.com/BGyfYiv.gif));

/* 爪卂乃乇ㄥ#5770 */

@include addUser(780073888742375435,#006b00,"Değerli Üye", "Dear Member", url(https://i.imgur.com/siZ4kpF.gif));
